.arrange {
  height: 90svh;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.arrange-heading {
  font-size: calc(var(--fs-heading) * 1.3);
}

.arrange-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1rem;
  padding: 0rem 7vw;
}

.arrange-paragraph {
  font-size: calc(var(--fs-text) * 1.1);
}

.event-button.arrange-button {
  margin-left: auto;
}

.eventbar-button {
  background-color: var(--color-navbar);
  color: var(--color-offwhite);
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.eventbar-button:hover {
  color: var(--color-hover);
}


@media only screen and (max-width: 750px) {

  .arrange {
    flex-direction: column;
  }
}