.events {
  height: 90lvh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  overflow: hidden;
}


.events-container {
  flex-basis: 50%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}



@media only screen and (max-width: 750px) {

  .events {
    flex-direction: column;
  }
}