.landing {
  height: 80dvh;
  display: flex;
  flex-direction: row;
}

.landing img {
  background-size: cover;
}

.landing-heading {
  align-self: flex-start;
  font-size: var(--fs-heading);
  margin: 0;
  padding: 0;
}

.landing-content {
  margin-top: 12dvh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 var(--padding-big);
  font-size: var(--fs-text);
  color: var(--color-text);
  gap: 1rem;
}

.MuiTabsList-root {
  display: flex;
  flex-direction: row;
  gap: var(--padding-small);
  padding-bottom: var(--padding-small);
}

.MuiTab-root {
  background-color: var(--color-navbar);
  font-size: calc(var(--fs-text) * 0.9);
  padding: var(--padding-button);
  font-family: "Playfair Display", serif;
  font-weight: 400;
  border: none;
}

.Mui-selected {
  background-color: var(--color-accent);
}
.filler {
  height: 10dvh;
}
