.landing {
  height: 80svh;
  display: flex;
  flex-direction: row;
}

.landing-image-container {
  flex-basis: 40%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.landing-image-container img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.landing-heading {
  align-self: flex-start;
  font-size: var(--fs-heading);
  margin: 0;
  padding: 0;
}

.landing-content {
  flex-basis: 60%;
  margin-top: 10vmin;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 var(--padding-big);
  font-size: var(--fs-text);
  text-align: justify;
  color: var(--color-text);
  gap: 1rem;
}

.MuiTabsList-root {
  display: flex;
  flex-direction: row;
  gap: var(--padding-small);
  padding-bottom: var(--padding-small);
}

.MuiTab-root {
  flex: 1;
  background-color: var(--color-navbar);
  font-size: calc(var(--fs-text));
  padding: 0.8rem 0px;
  font-family: "Playfair Display", serif;
  color: var(--color-offwhite);
  font-weight: 600;
  border: none;
}

.Mui-selected {
  background-color: var(--color-accent);
}

.filler {
  height: 10svh;
}


@media only screen and (max-width: 750px) {
  .landing {
    flex-direction: column;
    height: 90svh;
  }

  .MuiTab-root {
    font-size: var(--fs-text-mobile);
  }

  .landing-content {
    margin-top: 3vmin;
    font-size: var(--fs-text-mobile);
    align-items: center;
    padding: 0 var(--padding);

  }

  .landing-image-container {
    flex-basis: 33%;
  }

  .landing-image-container img {
    margin-top: 20svh;
    width: 100%;
  }
}