.media {
  height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.media-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: var(--padding-big);
}
.media-heading {
  font-size: var(--fs-heading);
  text-transform: uppercase;
}
.media-paragraph {
  max-width: 40ch;
  font-size: var(--fs-text);
}
.media-video {
  width: 50vw;
  aspect-ratio: 16/9;
}
.media-buttons {
  padding-top: var(--padding-small);
  display: flex;
  flex-direction: row;
  gap: var(--padding-small);
  font-size: calc(var(--fs-text) * 2.3);
}
.media-text {
  display: flex;
  flex-direction: column;
  gap: var(--padding-small);
  height: 100%;
}

.eventbar-heading {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}
.eventbar-button {
  background-color: var(--color-navbar);
  color: var(--color-offwhite);
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}
.eventbar-button:hover {
  color: var(--color-hover);
}
.eventbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem var(--padding);
  background-color: var(--color-hover);
  height: 20dvh;
}
