.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-navbar);
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar__title,
.navbar__links {
  margin: 0 1em;
  color: rgb(255, 255, 255);
}
.navbar__title {
  font-size: 2em;
  font-weight: bold;
}

.navbar__links {
  display: flex;
}

.navbar__link {
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  margin: 0 0.5em;
  transition: color 0.3s ease;
}

.navbar__link:hover {
  color: #007bff;
}
