@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "monmed";
  src: local("monmed"), url(./fonts/Montserrat-Medium.ttf) format("woff");
}
:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-background: #f4ebe8;
  --color-navbar: #060b0c;
  --color-accent: #325a69;
  --color-text: black;
  --fs-text: clamp(0.8rem, 0.4vw + 0.75rem, 1.1em);
  --fs-text-mobile: clamp(0.84rem, 0.4vw + 0.7rem, 2rem);
  --padding: clamp(0.2rem, 1.4vw + 0.4rem, 2.5rem);
  --padding-small: clamp(0.35rem, 0.3vw + 0.12rem, 1.5rem);
}

a {
  color: rgb(255, 255, 255);
}
#root {
  padding: 0;
  max-width: 100%;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 700px;
  padding-bottom: 700px;
  padding-top: 300px;
}

.app {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  scroll-padding: 50px;
  height: 100dvh;
}
