@import url("https://fonts.googleapis.com/css2?family=Playfair:wght@300;400;500;600;700;800&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-offwhite: #f4ebe8;
  --color-navbar: #060b0c;
  --color-accent: #325a69;
  --color-hover: #c7bebc;
  --color-text: black;
  --fs-text: clamp(0.8rem, 0.5vw + 0.5svh + 0.6rem, 1.8em);
  --fs-heading: clamp(1.1rem, 0.6vw + 1.2rem, 2.1rem);
  --fs-text-mobile: clamp(0.75rem, 1.5vw + 0.45rem, 2rem);
  --padding-small: clamp(0.35rem, 0.3vw + 0.12rem, 1.5rem);
  --padding: clamp(0.2rem, 1.4vw + 0.4rem, 2.5rem);
  --padding-big: clamp(0.4rem, 2vw + 1.4rem, 3.5rem);
  --padding-button: calc(var(--padding-small)) calc(var(--padding-small) * 2);
}

@supports (-webkit-touch-callout: none) {

  :root {
    -webkit-text-size-adjust: 115%;

    /* --fs-text-mobile: calc(clamp(0.75rem, 1.45vw + 0.45rem, 2rem) * 1.18);
    --fs-text: clamp(0.8rem, 0.5vw + 0.5svh + 0.6rem, 1.8em);
    --fs-heading: clamp(1.1rem, 0.6vw + 1.2rem, 2.1rem); */
  }
}

.global-fill {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.global-fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}


a {
  color: var(--color-text);
  text-decoration: none;
}

h1,
h2,
p {
  margin: 0;
}

html {
  scroll-snap-type: y proximity;
  scroll-snap-stop: always;
  scroll-padding-top: 10svh;
  scroll-behavior: smooth;

}

section {
  scroll-snap-align: center;
  overflow: hidden;
}

#root {
  padding: 0;
  max-width: 100%;
}

body {
  background-color: var(--color-offwhite);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 700px;
  padding-bottom: 700px;
  padding-top: 300px;
}


.global-heading {
  font-size: var(--fs-heading);
  text-transform: uppercase;
}

.gutter {
  height: 1svh;
  background-color: var(--color-navbar);
  border: 20px solid var(--color-hover);
}

.stickyImage {
  background-size: cover;
  background-repeat: no-repeat;
  height: 90svh;
  position: sticky;
  top: 10svh;
}

@media only screen and (max-width: 750px) {
  html {
    scroll-snap-type: none;
    scroll-snap-stop: normal;
    scroll-padding-top: auto;
    scroll-behavior: smooth;
  }

  section {
    scroll-snap-align: none;
    overflow: hidden;
  }

  .global-fill {
    flex-basis: 40%;
  }

  .global-fill img {
    width: 100%;
    margin-top: 3svh;
  }



}